
.view-port{
  width: 100%;
  position: relative;
}

.card-container{
  width: 100%;
  postion: relative;
  margin:auto;
  background-color: #011839;
  border:none;


}

.blue-box{
  margin-top: 0;
  height: 1000px;
  width: 100%;
  background-color: #011839;
}
