
.view-port{
  width: 100%;
}

.card-container{
  width: 100%;
  postion: relative;
  margin:auto;

}

.next, .previous{
  position:absolute;
  top: 50%;
  width: auto;
  cursor: pointer;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover{
  background-color: rgba(0,0,0,0.8);
}
