@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
  margin:0;
  padding: 0;
}

.navbar-container{
  background-color: #add8e6;
  font-size: 30px;
  font-family: "Roboto";
  display:flex;
  justify-content: center;
  position: relative;

}

.weather{

  padding: 5px;
  overflow:hidden;
}
